itens{
    font-style: italic;
}


principal{
    background: #000099
    paddding: 30px
}

h2{
    text-align: center;
}


.beneficios {
    background: #000099
    padding: 20px;
}

ul {
    display: inline-block:
    vertical-align: top:
    width: 20%:
    eargin-rigth: 15%
}


.imagensbeneficios{
    width: 50%;
}
.titulo.centralizado{
    text-align: center;
}
.titulo-principal{
    padding-left: 20px;
}
#banner{
    width: 100%;
}